# {{ ansible_managed }}
{% if jk_chrootsh is defined %}
{%   for profile in jk_chrootsh|sort %}
{%     if jk_chrootsh[profile]['group'] is defined and jk_chrootsh[profile]['group'] %}
[group {{ profile }}]
{%     else %}
[{{ profile }}]
{%     endif %}
{%     for key in jk_chrootsh[profile]|sort %}
{%       if key != 'group' %}
{%         if jk_chrootsh[profile][key] is number or jk_chrootsh[profile][key] is string %}
{{ key }} = {{ jk_chrootsh[profile][key] }}
{%         elif jk_chrootsh[profile][key] is iterable %}
{{ key }} = {{ jk_chrootsh[profile][key]|sort|join(', ') }}
{%         else %}
{{ key }} = {{ jk_chrootsh[profile][key] }}
{%         endif %}
{%       endif %}
{%     endfor %}

{%   endfor %}
{% endif %}
