# {{ ansible_managed }}
{% if jk_check is defined %}
{%   for check in jk_check %}
{%     if check.path is defined %}
[{{ check.path }}]
{%       if check.ignorepatheverywhere is defined %}
ignorepatheverywhere = {{ check.ignorepatheverywhere|sort|join(', ') }}
{%       endif %}
{%       if check.ignorepathoncompare is defined %}
ignorepathoncompare = {{ check.ignorepathoncompare|sort|join(', ') }} 
{%       endif %}
{%       if check.ignoresetuidexecuteforuser is defined %}
ignoresetuidexecuteforuser = {{ check.ignoresetuidexecuteforuser|sort|join(', ') }}
{%       endif %}
{%       if check.ignoresetuidexecuteforgroup is defined %}
ignoresetuidexecuteforgroup = {{ check.ignoresetuidexecuteforgroup|sort|join(', ') }}
{%       endif %}
{%       if check.ignoresetuidexecuteforothers is defined %}
ignoresetuidexecuteforothers = {{ check.ignoresetuidexecuteforothers|sort|join(', ') }}
{%       endif %}
{%       if check.ignorewritableforgroup is defined %}
ignorewritableforgroup = {{ check.ignorewritableforgroup|sort|join(', ') }}
{%       endif %}
{%       if check.ignorewritableforothers is defined %}
ignorewritableforothers = {{ check.ignorewritableforothers|sort|join(', ') }}
{%       endif %}
{%     endif %}

{%   endfor %}
{% endif %}
