# {{ ansible_managed }}
# jk_check: {{ jk_check|length }}
{% if jk_check|length > 0 %}

{%   for jkc in jk_check|sort %}
{%     if jkc.path is defined %}
[{{ jkc.path }}]
{%       for key, value in jkc.settings.iteritems()|sort %}
{%         if value is string %}
{{ key }} = {{ value|string %}
{%         elif value is number %}
{{ key }} = {{ value|int }}
{%         elif value is iterable %}
{{ key }} = {{ value|join(', ') }}
{%         else %}
{{ key }} = {{ value }}
{%         endif %}
{%       endfor %}
{%     endif %}
{%     if not loop.last %}

{%     endif %}
{%   endfor %}
{% endif %}
