# {{ ansible_managed }}

{% if jailkit_check is defined %}
{%   for check in jailkit_check|sort %}
{%     if check.path is defined %}
[{{ check.path }}]
ignorepatheverywhere = {{ check.ignorepatheverywhere|sort|join(', ') if check.ignorepatheverywhere is defined else '' }}
ignorepathoncompare = {{ check.ignorepathoncompare|sort|join(', ') if check.ignorepathoncompare is defined else '' }} 
ignoresetuidexecuteforuser = {{ check.ignoresetuidexecuteforuser|sort|join(', ') if check.ignoresetuidexecuteforuser is defined else '' }}
ignoresetuidexecuteforgroup = {{ check.ignoresetuidexecuteforgroup|sort|join(', ') if check.ignoresetuidexecuteforgroup is defined else '' }}
ignoresetuidexecuteforothers = {{ check.ignoresetuidexecuteforothers|sort|join(', ') if check.ignoresetuidexecuteforothers is defined else '' }}
ignorewritableforgroup = {{ check.ignorewritableforgroup|sort|join(', ') if check.ignorewritableforgroup is defined else '' }}
ignorewritableforothers = {{ check.ignorewritableforothers|sort|join(', ') if check.ignorewritableforothers is defined else '' }}

{%     endif %}
{%   endfor %}
{% endif %}
