# {{ ansible_managed }}
{% if jk_init is defined %}
{%   for profile in jk_init|sort %}
[{{ profile }}]
{%     for key in jk_init[profile] %}
{%       if jk_init[profile][key] is iterable %}
{{ key }} = {{ jk_init[profile][key]|sort|join(', ') }}
{%       else %}
{{ key }} = {{ jk_init[profile][key] }}
{%       endif %}
{%     endfor %}

{%   endfor %}
{% endif %}
