# {{ ansible_managed }}
# jk_lsh: {{ jk_lsh|length }}
{% if jk_lsh|length > 0 %}

{%   for jkl in jk_lsh|sort %}
{%     if jkl.name is defined %}
{%       if jkl.group is defined and jkl.group|bool %}
[group {{ jkl.name }}]
{%       else %}
[{{ jkl.name }}]
{%       endif %}
{%       for key, value in jkl.settings.iteritems()|sort %}
{%         if value is string %}
{{ key }} = {{ value|string }}
{%         elif value is number %}
{{ key }} = {{ value|int }}
{%         elif value is iterable %}
{{ key }} = {{ value|join(', ') }}
{%         else %}
{{ key }} = {{ value }}
{%         endif %}
{%       endfor %}
{%     endif %}
{%     if not loop.last %}

{%     endif %}
{%   endfor %}
{% endif %}
