# {{ ansible_managed }}
{% if jk_socketd is defined %}
{%   for socket in jk_socketd %}
{%     if socket.path is defined %}
[{{ socket.path }}]
{%       if socket.base is defined %}
base = {{ socket.base }}
{%       endif %}
{%       if socket.interval is defined %}
interval = {{ socket.interval }}
{%       endif %}
{%       if socket.peak is defined %}
peak = {{ socket.peak }}
{%       endif %}

{%     endif %}
{%   endfor %}
{% endif %}
