# {{ ansible_managed }}
# jk_chrootsh: {{ jk_chrootsh|length }}
{% if jk_chrootsh|length > 0 %}

{%   for jku in jk_chrootsh|sort %}
{%     if jku.name is defined %}
{%       if jku.group is defined and jku.group|bool %}
[group {{ jku.name }}]
{%       else %}
[{{ jku.name }}]
{%       endif %}
{%       for key, value in jku.settings.iteritems()|sort %}
{%         if value is string %}
{{ key }} = {{ value|string }}
{%         elif value is number %}
{{ key }} = {{ value|int }}
{%         elif value is iterable %}
{{ key }} = {{ value|join(', ') }}
{%         else %}
{{ key }} = {{ value }}
{%         endif %}
{%       endfor %}
{%     endif %}
{%     if not loop.last %}

{%     endif %}
{%   endfor %}
{% endif %}
