# {{ ansible_managed }}
# jk_update: {{ jk_update|length }}
{% if jk_update|length > 0 %}

{%   for jku in jk_update|sort %}
{%     if jku.path is defined %}
[{{ jku.path }}]
{%       for key, value in jku.settings.iteritems()|sort %}
{%         if value is string %}
{{ key }} = {{ value|string }}
{%         elif value is number %}
{{ key }} = {{ value|int }}
{%         elif value is iterable %}
{{ key }} = {{ value|join(', ') }}
{%         else %}
{{ key }} = {{ value }}
{%         endif %}
{%       endfor %}
{%     endif %}
{%     if not loop.last %}

{%     endif %}
{%   endfor %}
{% endif %}
