# {{ ansible_managed }}
{% if jk_uchroot is defined %}
{%   for profile in jk_uchroot|sort %}
{%     if jk_uchroot[profile]['group'] is defined and jk_uchroot[profile]['group'] %}
[group {{ profile }}]
{%     else %}
[{{ profile }}]
{%     endif %}
{%     for key, value in jk_uchroot[profile].iteritems()|sort %}
{%       if key != 'group' %}
{%         if value is iterable and value is not string %}
{{ key }} = {{ value|sort|join(', ') }}
{%         else %}
{{ key }} = {{ value }}
{%         endif %}
{%       endif %}
{%     endfor %}

{%   endfor %}
{% endif %}
